<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="icon" href="./assets/images/logo.png">

    $$CSS_LINKS$$

    <title>$$TAB_TITLE$$</title>
</head>
<body>
    <nav>
        <a href="/"><img id="logo" src="./assets/images/logo.png" alt="node logo"></a>
    </nav>
    <div class="container">
        <div class="sidebar">
            
            <div class="sidebar-section">
            <a href="/game" class="sidebar-item">Game</a>
            </div>

            <!-- fundamentals -->
            <div class="sidebar-section">
                 <div class="sidebar-section-title">The Bling & Basics ✨</div>
                 <a href="/functions" class="sidebar-item">Functions</a>
                 <a href="/loops" class="sidebar-item">Loops</a>
                 <a href="/variables" class="sidebar-item">Variables and data types</a>
             </div>
             
             <!-- the backend environment -->
             <div class="sidebar-section">
                 <div class="sidebar-section-title">Behind-the-Scenes Glam 💅</div>
                 <a href="/nodejs&npm" class="sidebar-item">Node and npm</a>
                 <a href="/tools" class="sidebar-item">Tools & techniques</a>
                 <a href="/modules" class="sidebar-item">Modules</a>
             </div>
             
             <!-- express and rest apis -->
             <div class="sidebar-section">
                 <div class="sidebar-section-title">Stylin' the Server 💋</div>
                 <a href="/api" class="sidebar-item">REST API design</a>
                 <a href="/crud" class="sidebar-item">CRUD operations</a>
                 <a href="/servingfiles" class="sidebar-item">Serving files</a>
             </div>

             <!-- frontend and client-server interaction -->
             <div class="sidebar-section">
                 <div class="sidebar-section-title">The Front-Row Look 🤩</div>
                 <a href="/fetchingdata" class="sidebar-item">Fetching data</a>
                 <a href="/htmlstructure" class="sidebar-item">HTML structure</a>
            </div>

            <!-- web architecture and deployment -->
            <div class="sidebar-section">
                 <div class="sidebar-section-title">Making Your Grand Entrance runway</div>
                 <a href="/rendering" class="sidebar-item">Rendering</a>
                 <a href="/codestructure" class="sidebar-item">Code structure</a>
            </div>

        </div>
        <main class="content">
            $$PAGE_CONTENT$$